[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = untracked
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
	ignore = untracked
[submodule "vim/pack/vendor/start/vimwiki"]
	path = vim/pack/vendor/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
	ignore = untracked
[submodule "vim/pack/vendor/start/auto-pairs"]
	path = vim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-commentary"]
	path = vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
	ignore = untracked
[submodule "vim/pack/vendor/start/vim-repeat"]
	path = vim/pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
	ignore = untracked
